.seed{
    width: 10px;
    height: 10px;
    background-color: black;
}
/* Estilos del tablero de Togyzqumalaq */
.title{
    text-align: center;
}
.board-center{
    display: flex;
    justify-content: center;
}
.board-game{
    display: inline-block;
    height: auto;
    width: auto;
    padding: 20px;
    background-color: darkslategrey;
}
.row-pits-player1{
    display:flex;
    gap: 10px;
}
.row-pits-player2{
    display:flex;
    gap: 10px;
}
.pit{
    width: 100px;
    height: 230px;
    background-color: #202020;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
}
.pitPainted{
    width: 100px;
    height: 230px;
    background-color: #202020;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid red;
}
.pit:hover{
    border: 2px solid whitesmoke;
    transition: 0.3s;
}
.kazan-player1{
    margin-top: 10px;
    width: 980px;
    height: 40px;
    background-color: #202020;
}
.kazan-player2{
    margin-top: 10px;
    width: 980px;
    height: 40px;
    background-color: #202020;
    margin-bottom: 10px;
}
.number-hole{
    margin-top: auto;
    text-align: center;
}
.pitTuzdik{
    width: 100px;
    height: 230px;
    background-color: #00852c;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(255, 255, 255);
}